<header>
    <div class="image-container">
    	<img src="/icon.png" alt="Patrick's logo" style="width: 150px;height: 150px;">
    </div>
    <h1 class="site-title"><a href="#" style="padding-left: 50px">Patrick's Blog</a></h1>
</header>