<div class="new-post">
  <div id="topic-head">Write a new Topic</div>
  <div class="split">      
    <div class="input-box-post">
      <div class="input-post">
        <label for="post-titel-input">Titel</label>
        <input type="text" id="input-author-titel" class="input">
      </div>
      <div class="input-post">
        <label for="post-author-input">Author</label>
        <input type="text" id="input-author-txt" class="input">
      </div> 
      <div class="input-post">
        <label for="post-text-input">Text</label>
        <textarea id="input-post-txt"  name="post-text-in"></textarea>
      </div>
    </div>
    <div class="creat-topic">
      <button type="button" id="open-window-topic" class="open-window">Creat Post</button>
    </div>
  </div>
</div>