<div class="answer-creator">
    <div class="info-post">
        {{text}}
    </div>
    <div class="info">
      <div class="author-post">
        by {{pauthor}}
      </div>
      <div class="date-post">
        {{date}}
      </div>
    </div>
</div>