<a href="/blog/{{id}}">
	<section class="topic-card">
	    <div class="topic">
	        <p>{{titel}}</p>
	    </div>
	    <div class="show-author">
	        <p>by {{author}}</p>
	    </div>
	    <div class="date">
	        <p>{{date}}</p>
	    </div>
	</section>
</a>