<div class="top">
  <div class="text">
    {{text}}
  </div>
  <div class="info">
    <div class="author-post">
      <div id="creator">by {{author}}</div>
    </div>
    <div class="date-post">
      {{date}}
    </div>
  </div>
</div>