<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    {{> nav}}  
    <main class="about">
      <div class="web">
        About this Website
      </div>
      <div class="content-about">
        <br>
        <p>CS 290 Final Project</p>
        <p>Code and demo due by 5:00pm on Friday, 12/7/2018</p>
        <br>
        <p>In this course, a final programming project will take the place of formal exams to test your<br> understanding of the material.  The final project will involve working with a team of 3-4 people to<br> implement a substantial web app that utilizes all of the major components of the web application<br> stack covered in this class.  Specifically, you and your teammates will write a web app that<br> satisfies all of these requirements:
        </p>
        <div class="space"></div>
        <p>created by Patrick J. Wurth</p>
        <p>wurthp@oregonstate.edu</p>
      </div>
    </main>
  </body>
</html>